img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  bottom: 80%;
  transform: translateX(-50%);
}

.card-outer-wrapper {
  border-radius: 14px;
  background: linear-gradient(45deg, #ffffff, #11ffbd);
}

.loading-screen-wrapper {
  width: 100vw;
  height: 100vh;
}

.loading-screen-wrapper .loading-gif {
  width: 350px;
  height: 350px;
}
